.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #D6EFD8;
  font-family: Arial, sans-serif;
}

.counter-box {
  background-color: #CADABF;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.counter-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.counter-value {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #5F6F65;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn {
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100px;
  margin: 5px;
}

.btn.increment {
  background-color: #5F6F65;
}

.btn.decrement {
  background-color: #6482AD;
}

.btn.reset {
  background-color: #88D66C;
}
.btn.undo{
  background-color: #0B8494
}

.btn:hover {
  transform: scale(1.05);
}

.btn.increment:hover {
  background-color: #9CA986;
}

.btn.decrement:hover {
  background-color: #7FA1C3;
}

.btn.reset:hover {
  background-color: #B4E380;
}

.btn.custom-increment {
  background-color: #6C5B7B;
}

.btn.custom-decrement {
  background-color: #4C6A92;
}

.btn.custom-increment:hover {
  background-color: #9D6A8A;
}

.btn.custom-decrement:hover {
  background-color: #6A8AA4;
}

.increment-by, .decrement-by {
  margin-top: 20px;
}

.increment-by input, .decrement-by input {
  margin-right: 10px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
